- model_class = @task.class
%h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @task.title
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @task.description
%p
  %strong= model_class.human_attribute_name(:beginTime) + ':'
  %br
  = @task.beginTime
%p
  %strong= model_class.human_attribute_name(:endTime) + ':'
  %br
  = @task.endTime
%p
  %strong= model_class.human_attribute_name(:difficulty) + ':'
  %br
  = @task.difficulty
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @task.user_id
%p
  %strong= model_class.human_attribute_name(:project_id) + ':'
  %br
  = @task.project_id
%p
  %strong= model_class.human_attribute_name(:TaskType_id) + ':'
  %br
  = @task.TaskType_id
%p
  %strong= model_class.human_attribute_name(:ProjectStatus) + ':'
  %br
  = @task.ProjectStatus

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), tasks_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_task_path(@task), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), task_path(@task), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
