= form_for @project, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :begin_time, :class => 'control-label'
    .controls
      = f.date_select :begin_time, :class => 'date_select'
  .control-group
    = f.label :end_time, :class => 'control-label'
    .controls
      = f.date_select :end_time, :class => 'date_select'
  .control-group
    = f.label :priority_id, :class => 'control-label'
    .controls
      = f.number_field :priority_id, :class => 'number_field'
  .control-group
    = f.label :user_id, :class => 'control-label'
    .controls
      = f.number_field :user_id, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), projects_path, :class => 'btn'
